<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-on</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div  id="app">
    <div v-if="books.length">
        <table>
        <thead>
            <tr>
                <th>数据名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(book,index) in books">
                <td>{{book.name}}</td>
                <td>{{book.date}}</td>
                <td>{{book.money | moneyFormatting}}</td>
                <td>
                    <button @click="Subtraction(index)" :disabled="book.sum === 0 ? true: false ">-</button>
                        {{book.sum}}
                    <button @click="addition(index)">+</button>
                </td>
                <td><button @click="removeClick(index)">
                        移除
                    </button>
                </td>
            </tr>
        </tbody>
        <h2>总计:{{booksMonryCount | moneyFormatting}}</h2>
    </table>
    </div>
    <h2 v-else>购物车为空</h2>
</div>
</body>
<script src="../js/vue.js"></script>
<script src="../js/main.js"></script>
<script>
</script>
</html>
